.viewport {
    position : absolute;
    top: 0;
    left : 0;
    bottom: 0;
    right : 0;
}

.group {
    width : 100%;
}

.test {
    display: inline-block;
    margin: 5px;
    padding: 1em;
    width: 200px;
    background-color: aliceblue;
}

.selected {
    border: solid;
    border-width: 1px;
}

.exception {
    background-color: red;
}

.faster {
    background-color: #d1ffc8;
}

.slower {
    background-color: #ffdfe3;
}